<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/products/<%= product.id %>?_method=PUT" method="POST">

        <input type="text" name="name" value="<%= product.name %>">

        <br><br>

        <input type="number" name="price" value="<%= product.price %>">

        <br><br>

        <input type="text" name="image" value="<%= product.image %>">

        <br><br>

        <textarea name="desc"><%= product.desc %></textarea>

        <br><br>

        <button>Update Product</button>

    </form>
</body>

</html>